@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

@import './spacing.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  color: $black;
}

.app-logo {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 10px;
  color: $color-primary;
}

input {
  font-family: inherit;
}

a {
  color: #0b67a5;

  &:hover {
    color: #249beb;
  }
}
.btn {
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 50px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease;

  &.primary {
    background-color: $color-primary;
    color: #fff;

    &:hover {
      box-shadow: 0 8px 25px -8px $color-primary;
    }
  }
  &.primary-inv {
    background-color: #fff;
    color: $color-primary;
    border: 1px solid $color-primary;

    &:hover {
      background-color: $color-primary;
      color: #fff;
      box-shadow: 0 8px 25px -8px $color-primary;
    }
  }

  &:focus {
    outline: none;
  }
}
